{%extends "base.html"%}
{% block page_title%}
<title>Create Post</title>
{% endblock page_title%}
{% block style %}
	.form-control{
		width:100%;
	}

{% endblock style %}

{% block content %}
<br>
<div class="row">
<div class="col-md-6 col-md-offset-3">
<div class="well">
<h3>Create Post</h3>
  <form class="" method="POST" action="" enctype="multipart/form-data" >{% csrf_token %}
	<div id="form-title" class="form-group">
		<label for="title">Title:</label>
		<input type="text" id="title" class="form-control" maxlength="120" name="{{ form.title.html_name}}" >
		<span id="form-title-span" style="display:none;" class="help-block">Error!! Enter a title.</span>
	</div>
	<div id="form-content" class="form-group">
		<label for="content">Content:</label>
		<textarea id="content" class="form-control" name="{{ form.content.html_name}}" rows="4" ></textarea>
		<span id="form-content-span" style="display:none;" class="help-block">Error!! Enter a content.</span>
	</div>
	<div class="form-group">
		<label for="imageupload">Upload Image:</label>
		<input type="file" id="imageupload" class="form-control" name="{{ form.image.html_name}}">
		<p class="help-block">*.jpg or *.png formats only</p>
	</div>
	<label for="tag">Tag:</label>
	<select id="tag" name="{{ form.tag.html_name}}" class="form-control">
	  <option value="Science">Science</option>
	  <option value="Technology">Technology</option>
	  <option value="Arts">Arts</option>
	  <option value="News">News</option>
	  <option value="Event">Event</option>
	  <option value="Music">Music</option> 
	</select>

    <button style="margin-top:15px; margin-left:10%; width:80%;" class="btn btn-success" type="submit">Create New Post</button>
  </form>
</div>
</div>
</div>
{% if messages %}
	{% for m in messages%}
		{% if m.message == 'title_error' %}
			<script>
				$("#form-title").attr("class","form-group has-error");
				$("#form-title-span").attr("style","display:inline;");
			</script>
		{% endif %}
		{% if m.message == 'content_error' %}
			<script>
				$("#form-content").attr("class","form-group has-error");
				$("#form-content-span").attr("style","display:inline;");
			</script>
		{% endif %}

	{% endfor %}
{% endif %}


{% endblock content %}
